.main___introduccion {
  grid-area: introduccion;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  height: auto;
  width: 1136px;
}

.introduccion__contenido {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 1136px;
}
.lista__redes {
}
.redes__links {
  position: relative;
  padding-right: 4em;                   
}

.redes__links::after {
  position: absolute;
  content: "";
  background: url("../introduccion/introduccion-recursos/vector_flecha.svg")
    no-repeat;
  margin-left: 0.4rem;
  margin-top: 0.1rem;
  width: 100%;
  height: 100%;
}

.introduccion__caja__foto {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: 100%;
}
.foto {
  border-radius: 35%;
  height: 300px;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
}
