.main__sobre-mi {
  grid-area: sobre-mi;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 400px;
  background-color: #84b6f4;
}
.sobre__mi__box {
  display: flex;
  width: 1136px;
  height: 255px;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
