.footer {
  grid-area: footer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #84b6f4;
  width: 100%;
}
.footer__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  font-weight: 700;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  height: auto;
}
