.footer_contacto {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1136px;
  gap: 1rem;
}

#contacto__form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 700px;
  justify-content: space-between;
}

#form__txt {
  font-family: "Charis SIL", serif;
  font-size: 22px;
  line-height: 19px;
  text-align: center;
}
.form__title {
  text-align: center;
}
.form-titulo {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 2.3rem;
}
.form__inputs {
  border: none;
  height: 56px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#form__mensaje::placeholder {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
#form__mensaje {
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 4px;
  font-weight: 500;
}

.form__btn__enviar {
  cursor: pointer;
  font-family: "Charis SIL", serif;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  width: 144px;
  height: 51px;
  background-color: white;
  align-self: center;
}
#form__nombre::after{
  content: "maximo 50 caracteres";
  bottom: 0;
  position: absolute;
  display: block;
}
