.footer {
  grid-area: footer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #84b6f4;
  width: 100%;
  height: 1100px;
}
.footer__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  font-weight: 700;
  width: 100%;
  height: 100px;
}
