.footer_contacto {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1136px;
  gap: 1rem;
}
input:focus,
textarea:focus {
  outline: none !important;
}
#contacto__form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 700px;
  justify-content: space-between;
  --elemento__oculto: hidden;
  --elemento__visible: visible;
}

#form__txt {
  font-family: "Charis SIL", serif;
  font-size: 22px;
  line-height: 19px;
  text-align: center;
}
.form__title {
  text-align: center;
}
.form-titulo {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 2.3rem;
}

.form__inputs {
  border: none;
  height: 56px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
}

#form__mensaje::placeholder {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
#form__mensaje {
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  width: 100%;
}

.form__btn__enviar {
  cursor: pointer;
  font-family: "Charis SIL", serif;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  width: 144px;
  height: 51px;
  background-color: white;
  align-self: center;
}

.formulario__incorrecto {
  border: 5px solid red;
  opacity: 1;
}
