.main__formacion-academica {
  grid-area: formacion-academica;
  width: 1440px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #84b6f4;;
}
.formacion_academica-cursos {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 350px;
  align-items: flex-start;
  justify-content: space-around;
}
.formacion__contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 368px;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 10px;
}
.cursos__logo__contenedor {
  display: flex;
  gap: 16px;
  background-color: #ffffff;
  width: 368px;
  height: 286px;
  justify-content: center;
  align-items: center;
}
