body,
html {
  background-color: #e5e5e5;
  width: 1440px;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.1em;
  font-family: "Charis SIL", serif;
}
h1 {
  font-family: "Charis SIL", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
}
h2 {
  font-family: "Charis SIL", serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}
p {
  text-align: justify;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
h3 {
  font-family: "Charis SIL", serif;
  font-size: 1.4rem;
  font-weight: 700;
}

h4 {
  font-family: "Charis SIL", serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0.5em;
}

span {
  font-family: "Montserrat", sans-serif;
}
