html {
  background-color: #e5e5e5;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  justify-items: center;
  gap: 2rem;
  min-width: 360px;
}
/* Estilos titulos */
.h1 {
  font-size: 5vmin;
  text-align: center;
  font-family: "Charis SIL", serif;
  font-weight: 700;
}
h2 {
  font: 500 3.5vmin/3rem Charis SIL, serif;
}

h3 {
  font: 700 2vmin Charis SIL, serif;
}
h4 {
  font: 700 2.2vmin Charis SIL, serif;
  margin-top: 0.5em;
}

/* Estilos parrafo y span */

p {
  font: 2vmin Montserrat, sans-serif;
  text-align: justify;
  line-height: 1.7em;
  font-weight: 400;

}

span {
  font-family: "Montserrat", sans-serif;
}

/* estilo base enlaces */
a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.1em;
  font-family: "Charis SIL", serif;
}
