@media screen and (min-width: 576px) and (max-width: 1000px) {
  .nav__item:not(:last-child) {
    visibility: hidden;
  }

  .skills_hobbies-lista {
    flex-wrap: wrap;
  }
  .contacto__imagen {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .nav__item:not(:last-child) {
    visibility: hidden;
  }

  .skills_hobbies-lista {
    flex-flow: column nowrap;
    width: 15%;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
  }
  .contacto__imagen {
    display: none;
  }
  .main__introduccion {
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .introduccion__caja__foto {
    order: -1;
  }
} ;
