.main__skills-y-hobbies {
  grid-area: skills-y-hobbies;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-around;
}
.main__skills-hobbies {
  display: flex;
  text-align: center;
  height: 40%;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.skills_hobbies-lista {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.skill_hobbies-vector {
  width: 60px;
  height: 75px;
}
