.main__skills-y-hobbies {
  grid-area: skills-y-hobbies;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 800px;
}
.main__skills-hobbies {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
  height: 50%;
  width: 78.9%;
}

.skills_hobbies-lista {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto; 
}
.skill_hobbies-vector {
  width: 60px;
  height: 75px;
}
