.main__experiencia__profesional {
  grid-area: experiencia;
  display: flex;
  flex-direction: column;
  height: 1000px;
  align-items: center;
  gap: 1rem;
}

.exp__box {
  display: flex;
  flex-flow: row wrap;
  height: 700px;
  width: 100%;
  justify-content: space-evenly;
}

.ahorcado__enlace__box {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 50%;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
}

.enlace__botones {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 2rem;
  justify-content: center;
}

.enlace__botones-boton {
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  padding: 1rem;
  background-color: #84b6f4;
}

.proyecto-descripcion {
  text-align: center;
}

