.main__experiencia__profesional {
  grid-area: experiencia;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.exp__box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 78.9%;
}

.ahorcado__enlace__box {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  width: 30%;
  min-width: 450px;
}

.enlace__botones {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2rem;
}

.enlace__botones-boton {
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  padding: 1rem;
  background-color: #84b6f4;
}

.proyecto-descripcion {
  text-align: center;
}

#gif__ahorcado {
  width: 30%;
  min-width: 450px;
  height: 30%;
}
