.main {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: main;
  grid-template-areas:
    "introduccion"
    "sobre-mi"
    "skills-y-hobbies"
    "formacion-academica"
    "experiencia";
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section__boxes {
  display: flex;
  width: 1136px;
  
}

.section__boxes:nth-child(Even) {
  background-color: #84b6f4;
}
