.main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    "introduccion"
    "sobre-mi"
    "skills-y-hobbies"
    "formacion-academica"
    "experiencia";
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.section__boxes {
  display: flex;
  width: 1136px;
}
