.main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "introduccion"
    "sobre-mi"
    "skills-y-hobbies"
    "formacion-academica"
    "experiencia"
    "contacto";
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.section__boxes {
  display: flex;
  margin-left: 9.5rem;
  border: 2px solid black;
  width: 100%;
  height: 400px;
}

.section__boxes:nth-child(Even) {
  background-color: #84b6f4;
}
